:root {
    --primary-text-color: #212121;
    --title-text-color:  #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff
}

body {
   background: var(--primary-white-color); 
   font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    margin-right: 93px;
}

.logo-header {
    color: #2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  
}

.logo-title {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Навигация */

.main-nav {
    display: flex;
    align-items: center;
}

.container.nav {
    display: flex;
    align-items: center;
}

.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
}

.link-item{
    margin-right: 50px;
    
}

.link-item:last-child {
    margin-right: 0px;
}

.link {
    margin-left: 50px;
}

.link:first-child {
    margin-left: 0px;
}

.nav-title {
    color: var(--primary-text-color);
    padding-bottom: 32px;
    padding-top: 32px;
    display: block;
}

.nav .nav-title:hover, :focus {
    color: var(--accent-color);
}

.nav .nav-title.current {
    color: var(--accent-color);
} 

/* Контакты */

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts-title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.contacts-title:hover, :focus {
    color: var(--accent-color);
}
/*Верхний блок */
.hero .hero-title{
    color: var(--primary-white-color);
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
}

.hero.block {
    background: #2F303A;
    max-width: auto;
  
}

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
}

.button-link {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    margin-bottom: 200px;
    text-align: center;
}

.button {
    font-family: inherit;
}

/*main*/

.advantages {
    display: flex;
}

.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0px;
    padding-top: 94px;
}

.section-title-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.proffesion{
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0px;
    
}

.profession-item {
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}

.section-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 0px;
}

.section-text.item {
    margin-right: 30px;
}

.section-second {
    background-color: #F5F4FA;
}

.caption {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 0px;
}

.caption-img {
    display: flex;
}

.li-caption {
    margin-top: 50px;
    margin-bottom: 94px;
    margin-right: 30px;
}

.team {
    display: flex;
}

.team-img {
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 94px;
}

.team-img:last-child {
    margin-right: 0px;
}

.li-caption:last-child {
    margin-right: 0px;
}



/* Портфолио */

.button-item {
    padding: 6px 22px;
    margin-right: 8px;
    background: #F5F4FA;
    border-radius: 4px;
}

.filtres {
    display: flex; 
    justify-content: center;
}

.filtres .button:hover,:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}


.heading {
    display: none;
}

.portfolio-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 0px;
}

.portfolio-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 4px;
    margin-bottom: 20px;
}

.cart {
    display: flex;
    flex-wrap: wrap;
}

.img-galery {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.img-galery:nth-child(3n) {
    margin-right: 0px;
}

.text-item {
    padding-left: 24px;
}

.footer-block {
    background: #2F303A;
}

.logo-footer {
    display: block;
    padding-top: 60px;
}

.address {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    padding-top: 20px;
}

.logo-title-footer {
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.contacts-title-footer {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 9px;
}

.footer-item {
    display: block;
    padding-bottom: 60px;
}